@model IEnumerable<Images.Picture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}
<br />
@*<div class="container">
        <div class="row">
            <div class="col text-right">
                @Html.ActionLink("เพิ่มสินค้า", "Create", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>*@
<center>
    @Html.ActionLink("เพิ่มสินค้า", "Create", null, new { @class = "btn btn-success btn-lg" })
    @Html.ActionLink("รีพอร์ทของฉัน", "MyReport", "Reports", new { }, new { @class = "btn btn-info btn-lg" })
    @Html.ActionLink("รีพอร์ทภาพของฉัน", "Index", "Reports", new { }, new { @class = "btn btn-warning btn-lg" })
    @Html.ActionLink("แผนภูมิภาพที่วางขาย", "Chart", "Pictures", new { }, new { @class = "btn btn-danger btn-lg" })
</center>
<br />
<br />
<h4> ภาพทั้งหมดของฉันมีทั้งหมด:  @Model.ToList().Count() ภาพ</h4>
<table style="width: 100%; margin-top:10px" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline collapsed" role="grid" aria-describedby="example_info">
    <thead>
        <tr role="row" style="text-align:center;">
            <th class="sorting_desc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 40px;">ชื่อภาพ</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 80.2px; ">รูปภาพ</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px;">ขนาดรูปภาพ</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px;">ประเภทรูปภาพ</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px;">ราคารูปภาพ</th>
            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 46.2px;">คำสั่งเเก้ไข</th>

    </thead>

    @for (var i = 1; i <= Model.ToList().Count(); i++)
    {
        var indexItem = i - 1;
        if (i == 1 || i % 4 == 1)
        {
            var username = Model.ElementAt(indexItem).user_email;
            @:
        }
        <tr>
            <!-- Card Component-->

            <td style="text-align:center ">
                <h5> @Model.ElementAt(indexItem).Name </h5>
            </td>

            <td style="text-align:center ">
                <img class="img-responsive" style="max-width: 70%;"
                     src=@Url.Content("~/Content/images/" + (Model.ElementAt(indexItem).url)) />
            </td>

            <td style="text-align:center ">
                <h5>@Model.ElementAt(indexItem).Size </h5>
            </td>

            <td style="text-align:center ">
                <h5>@Model.ElementAt(indexItem).Type </h5>
            </td>

            <td style="text-align:center ">
                <h5>@Model.ElementAt(indexItem).Price </h5>
            </td>

            <td style="text-align:center">
                @Html.ActionLink("Edit", "Edit", new { id = @Model.ElementAt(indexItem).Pic_ID },
              new { @class = "btn btn-outline-primary" }) |
                @Html.ActionLink("Details", "Details", new
                {
                    id =
                  @Model.ElementAt(indexItem).Pic_ID
                }, new { @class = "btn btn-outline-primary" }) |

                @Html.ActionLink("Delete", "Delete", new
              {
                  id =
              @Model.ElementAt(indexItem).Pic_ID
              }, new { @class = "btn btn-danger" })

            </td>
        </tr>
        <!-- End Card Component-->

        if (i % 4 == 0)
        {
            @:
        }
    }

</table>


