
@{
    ViewBag.Title = "Science";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

@model IEnumerable<Images.Picture>
<!-- Header-->
<!-- Header   Searching-->
<header>


    <div class="hero-image">

        <div class="text-center text-white">
            <br />
            <br />
            <br />
            <br />

            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <div class="input-group">

                    @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "ค้นหาภาพถ่ายตามความต้องการของคุณ" })
                    <button type="submit" class="btn btn btn-dark">ค้นหา</button>
                </div>
            }
            <h1 class="hero-text">
                รวมรูปภาพสวยๆพร้อมให้คุณดาวน์โหลด

            </h1>
            <p class="hero-text2">ปลดปล่อยพลังสร้างสรรค์ของคุณ</p>
        </div>
    </div>
    <script>
        $(".img-fluid").addClass("wow fadeIn z-depth-1-half");

        new WOW().init();
    </script>
</header>
<div style="margin-top:15px;margin-left:16%">
    <h4>รูปภาพ ภาพถ่าย และภาพสต็อกที่เกี่ยวกับ วิทยาศาสตร์</h4>
    <h5>เรียกดู @Model.ToList().Count() วิทยาศาสตร์ ภาพสต็อกและรูปภาพที่มีให้เลือก หรือเริ่มการค้นหาใหม่ เพื่อสํารวจรูปภาพและภาพสต็อกเพิ่มเติม</h5>
</div>

<div class="container">
    <div class="row clearfix">
        @for (var i = 1; i <= Model.ToList().Count(); i++)
        {
            var indexItem = i - 1;
            if (i == 1 || i % 4 == 1)
            {
                @:
            }
            <div class="col-lg-3 col-md-4 col-sm-12" style="cursor:pointer;margin:10px">
                <div class="card product_item">
                    <div class="body">
                        <div class="cp_img">
                            <img src="@Url.Content("~/Content/images/" + (Model.ElementAt(indexItem).url))" alt="Product" class="img-fluid"
                                 onclick="location.href = '@Url.Action("Details","Home", new {id = @Model.ElementAt(indexItem).Pic_ID,email = @Model.ElementAt(indexItem).user_email })'">
                        </div>

                        <div class="product_details">
                            <h4><a onclick="location.href = '@Url.Action("Details","Home", new {id = @Model.ElementAt(indexItem).Pic_ID,email = @Model.ElementAt(indexItem).user_email })'">@Model.ElementAt(indexItem).Name</a></h4>
                        </div>

                    </div>
                </div>
            </div>
            if (i % 4 == 0)
            {
                @:
            }
        }
    </div>
</div>
