@model Images.Report


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <!-- CSS -->
    @*  <script src="~/Content/preview-css/script.js"></script>*@
    <meta name="robots" content="noindex,follow" />
    <link href="~/Content/preview-css/style.css" rel="stylesheet" />
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2 class="mb-2 text-black">Report Picture</h2>
                            <hr />
                        </div>

                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <img src=@Url.Content("~/Content/images/" + ViewBag.url) style="width: 300px;height: auto" />
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">ข้อความที่ต้องการ Report</label>
                                <br />
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.message, new { htmlAttributes = new { @class = "form-control", @style = "width:400px" } })
                                    @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                                @* @Html.TextArea("Message", new { rows = 10, columns = 40 })*@
                                    @Html.TextAreaFor(model => model.message, new { cols = 40, @rows = 3 })
                                </div>

                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                @Html.ActionLink("Back to List", "previous", "Reports")
                                <input type="submit" value="Report" class="btn btn-primary" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
}
