@{ ViewBag.Title = "search";
    Layout = "~/Views/Shared/_LayoutAll.cshtml"; }


@model IEnumerable<Images.Picture>
@*@{
        var product1 = new SessionShop.Models.Mobiles { Id = 1, MobileName = "Green", Price = 25000 };
        var product2 = new SessionShop.Models.Mobiles { Id = 2, MobileName = "Purple", Price = 30000 };
        var product3 = new SessionShop.Models.Mobiles { Id = 3, MobileName = "White", Price = 21000 };
        var product4 = new SessionShop.Models.Mobiles { Id = 4, MobileName = "Blue", Price = 31000 };
        var product5 = new SessionShop.Models.Mobiles { Id = 5, MobileName = "Red", Price = 19000 };
        var product6 = new SessionShop.Models.Mobiles { Id = 6, MobileName = "Black", Price = 33000 };
        var product7 = new SessionShop.Models.Mobiles { Id = 7, MobileName = "Gold", Price = 18000 };
        var product8 = new SessionShop.Models.Mobiles { Id = 8, MobileName = "Blacks", Price = 28000 };
    }*@
<!-- Header-->
<!-- Header   Searching-->
<header>
    <div class="hero-image">

        <div class="text-center text-white">
            <br />
            <br />
            <br />
            <br />

            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <div class="input-group">

                    @Html.TextBox("searchString", null, new { @class = "form-control" })

                    <button type="submit" class="btn btn btn-dark">ค้นหา</button>

                </div>}
            @*<div class="input-group">

                    <input type="search" value="Search" class="form-control rounded" placeholder="ค้นหาภาพถ่ายตามความต้องการของคุณ" aria-label="Search"
                           aria-describedby="search-addon" />

                    <button type="button" class="btn btn btn-dark">ค้นหา</button>
                </div>*@
            <h1 class="hero-text">
                รวมรูปภาพสวยๆพร้อมให้คุณดาวน์โหลด

            </h1>
            <p class="hero-text2">ปลดปล่อยพลังสร้างสรรค์ของคุณ</p>
        </div>
    </div>
    <script>
        $(".img-fluid").addClass("wow fadeIn z-depth-1-half");

        new WOW().init();</script>
</header>

<!-- Section-->



@if (@Model.ToList().Count() > 0)
{<div style="margin-top:15px;margin-left:16%">
        <h4>รูปภาพ ภาพถ่าย และภาพสต็อก</h4>
        <h5>     @Model.ToList().Count() รูปภาพที่เกี่ยวข้องกับ <b>"@ViewBag.word"</b> หรือเริ่มการค้นหาใหม่ เพื่อสํารวจรูปภาพและภาพสต็อกเพิ่มเติม  </h5>
    </div>
   @* @Url.Content((Model.ElementAt(0).Type))*@
}

else
{

    <center style="margin-top:20px">
        <h2>
            <b>
                ขออภัย เราไม่พบรายการที่ตรงกับ
                "@ViewBag.word"
            </b>
            
        </h2>
    </center>
<ul style="margin-left:40%;font-size:20px">
    <li>ตรวจสอบว่าการสะกดคำนั้นถูกต้อง</li>
    <li>ลองใช้การค้นหาแบบง่าย</li>
    <li>หากยังคงพบปัญหา โปรดติดต่อเรา : ImageShot@gmail.com</li>
</ul>
}







<div class="container">
    <div class="row clearfix">
        @for (var i = 1; i <= Model.ToList().Count(); i++)
        {
            var indexItem = i - 1;
            if (i == 1 || i % 4 == 1)
            {
                @:
            }
            <div class="col-lg-3 col-md-4 col-sm-12" style="cursor:pointer;margin:10px">
                <div class="card product_item">
                    <div class="body">
                        <div class="cp_img">
                            <img src="@Url.Content("~/Content/images/" + (Model.ElementAt(indexItem).url))" alt="Product" class="img-fluid"
                                 onclick="location.href = '@Url.Action("Details","Home", new {id = @Model.ElementAt(indexItem).Pic_ID,email = @Model.ElementAt(indexItem).user_email })'">
                        </div>

                        <div class="product_details">
                            <h4><a onclick="location.href = '@Url.Action("Details","Home", new {id = @Model.ElementAt(indexItem).Pic_ID,email = @Model.ElementAt(indexItem).user_email })'">@Model.ElementAt(indexItem).Name</a></h4>
                        </div>

                    </div>
                </div>
            </div>
            if (i % 4 == 0)
            {
                @:
            }
        }
    </div>
</div>
